:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

input{
  height: 12px;
   padding: 0.6em 1.2em;
   border-radius: 5px;
   border: none;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-container {
  background-color: #111;
  color: #cfe8ff;
  min-height: 100vh;
  padding: 30px;
  font-family: sans-serif;
}

.room-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.room-status {
  font-size: 18px;
  margin-bottom: 20px;
}

.connected {
  color: #4ade80;
}

.disconnected {
  color: #f87171;
}

.video-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.video-box {
  flex: 1;
  min-width: 300px;
  background-color: #222;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #3b82f6;
}

.video-box h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.my-stream {
  border-color: #3b82f6;
}

.remote-stream {
  border-color: #22c55e;
}
